{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 120,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^next\\/(.*)$",
    "^@\\/components/(.*)$",
    "^@\\/icons/(.*)$",
    "^@\\/lib/(.*)$",
    "^@\\/(.*)$",
    "^[\\w\\d-_]+\\/(.*)$",
    "^\\.\\.\\/(.*)$",
    "^\\.\\/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["jsx", "typescript", "classProperties", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
